.jumbotron.title {
  margin-bottom: 0;
}

.jumbotron.title h1 {
  font-weight: 300; 
}

.green {
  color: #084100;
}

.divider {
  background: url(http://lorempixel.com/1920/500/cats);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.container.section {
  margin-bottom: 60px;
}